table th{
    height:30px;
    text-align: left;
}
table td{
    height:30px;
}
button#altera{
    border: none;
    padding: 6px;
    margin-left: 430px;
    border: 2px #87CEFA solid;
    width: 170px;
    padding: 4px;
    background-color: #87CEFA;
    color: white;
}
button#altera:hover{
    background-color: white ;
    color: #87CEFA;
    font-style:italic;
}
legend{
    font-size: 20pt;
    font-weight: bold;
    font-style: oblique;
}
div#alteracoesCad{
    display: block;
	position: relative;
	bottom: -40px;
    left: 400px;
    padding: 30px;
    border:10px rgba(0, 191, 255,.15) dashed;
    background-color: white;
    width: 600px;
}
section#secTexto{
    position: relative;
    left: -200px;
}