div.TabControl {
	display: block;
	position: relative;
	right: 350px;
	bottom: -40px;
    float: right;
}
body{
    font-family:Calibri, Tahoma, Arial;
}
.TabControl{ 
    width: 700px; 
    overflow:hidden; 
    height:400px;
}
.TabControl #header{ 
    width:700px; 
    border: none;
    overflow:hidden; 
    cursor:pointer;
}
.TabControl #content{ 
    width:700px;
    overflow:hidden; 
    height:100%; 
}
.TabControl .abas{
    display:inline;
    color: black;
}
.TabControl .abas li{
    float:left;
    list-style: none;
    width: 150px;
    margin-right: -20px;
}
.aba{
    width:150px;
    height:30px;  
    border-radius:5px 5px 0 0;
    text-align:center; 
    color: white;
    font-weight: bold;
    padding-top:5px; 
    background-color:rgba(0,191, 255,.7);
}
.ativa{
    width:150px; 
    height:30px; 
    border-radius:5px 5px 0 0;
    text-align:center;  
    margin-right: -30px;
}
.ativa.aba, .selected.aba{
    color: rgba(0,191, 255,.7);
    background-color: white;
    margin-right: -30px;
}
.TabControl #content{
    background-color:#F0F8FF;
    border: none;
}
.TabControl .conteudo{
    width:100%;  
    background-color: #F0F8FF; 
    display:none; 
    height:100%;
    color: black;
}
.selected{
    width:150px; 
    height:30px;  
    border-radius:5px 5px 0 0;
    text-align:center;
    background-color:rgba(0,191, 255,.7);

}
